* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.logo{
    height: 150px;
    position: absolute;
    top: 0;
    left: 2%;
}
.Rwanda{
    color: #fff;
    margin-left: 85%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    left: 80%;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 73vh;
}
header{
    position: fixed;
    background: #22242a;
    padding: 30px;
    width: 100%;
    height: 35px;
}
header h1,p{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1{
    font-size: 100px;
    font-family: sans-serif;
    padding-top: 40%;
}
p{
    width: 10px 0 40px;
    font-size: 30px;
    font-family: serif;
    padding-top: 50%;
}
.side-bar{
    background: #3d3d42;
    color: #fff;
    display: inline-block;
    margin-top: 55px;
    padding-top: 42px;
    width: 170px;
    height: 118%;
}
.side-bar .img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 30px;
}
.side-bar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 35px;
    margin-top: 0;
    box-sizing: border-box;
}
.side-bar a:hover{
    background: #2696eb;
}
.side-bar h4{
    padding-left: 40px;
    font-size: 25px;
    padding-bottom: 8px;
    padding-top: 25px;
    background: #23c8f13b;
}
.side-bar h5{
    padding-left: 32px;
    padding-bottom: 25px;
    font-size: 15px;
}
.side-bar h6{
    padding-left: 50px;
    font-size: 15px;
    margin-top: 0;
}